body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
}
nav{
    overflow: hidden;
}
nav ul{
    float: right;
    margin: 20px 100px;
}
nav ul li{
    list-style-type: none;
    float: left;
    padding: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%
}
.half-width h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive !important;
    font-family: 'Lato', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    margin-top: 0px;
    margin-bottom: 0px;
}
.half-width img{
    width: 450px;
}
.orange-txt{
    color: rgb(255 35 0 / 61%);
}
.header-txt{
    margin-top: 100px;
}
.link-btn{
    border: 0px;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    background-image: linear-gradient(#ff6131, #ff6347c2);
    margin-top: 20px;
}
section{
    margin: 0px 30px;
    overflow: hidden;
}
h2{
    font-size: 40px;
}
.work-sec h2{
    text-align: center;
    margin-bottom: 70px;
}
.work-sec{
    margin-top: 150px;
}
.work-item-sec{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-item-sec div{
    width: 26%;
    float: left;
    margin: 10px;
}
.work-item-sec div p{
    color: gray;
}
.contact button {
    width: 120px;
    height: 40px;
    padding: 0px !important;
    margin-top: 0px;
}
.contact h3{
    font-size:35px
}
.contact{
    width: 50%;
    padding: 10px 40px;
    background-color:rgba(0, 71, 163, 0.986);
    color: white;
    overflow: hidden;
    border-radius: 8px;
    margin: 200px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.connect img {
    width: 25px;
    margin: 0px 5px;
}
.connect {
    text-align: center;
    margin: 80px auto 50px auto;
    color: rgb(65, 65, 65);
}
.connect h3{
    font-size: 25px;
}